/**
 * VARIABLES
 * ----------------------------------------------------------------------------
 */

:root {
  /* COLORS */
  --blue--light       : rgba(42, 143, 208, 1);
  --blue--translucent : rgba(0, 129, 198, 0.8);
  --blue              : rgba(0, 129, 198, 1);
  --grey--text        : rgba(124, 123, 127, 1);
  --grey--light       : rgba(226, 226, 227, 1);
  --grey              : rgba(112, 111, 115, 1);
  --red--dark         : rgba(235, 65, 72, 1);
  --red               : rgba(237, 64, 72, 1);
  --font-family       : 'Noto Sans', sans-serif;
  --font-family--alt  : 'Roboto Condensed', sans-serif;
  /* FONTS */
}
