.qiktracker-alert {
  z-index       : 19999999999;
  position      : fixed;
  top           : 10px;
  right         : 10px;
  width         : 350px;
  border        : 1px solid $grey;
  border-radius : 6px;
  background    : $grey-light;
  box-shadow    : 0 8px 26px rgba(0, 0, 0, 0.6);
  user-select   : none;

  ul {
    margin-left : 20px;
  }

  li,
  p {
    color     : $black;
    font-size : $default;
  }

  p {
    line-height : $default * 1.25;
  }

  li {
    line-height : $default * 1.1;
  }

  li + li {
    margin-top : 8px;
  }

  a,
  em {
    font : inherit;
  }

  p + p,
  p + ul {
    margin-top : 12px;
  }
}
