.card-menu a {
  display        : inline-block;
  margin-right   : 20px;
  padding-top    : 15px;
  color          : black;
  text-transform : uppercase;
  font-size      : 0.8em;
  font-weight    : 500;
}

.toggleContent {
  // display: block;
}
